table tr th.label {
    display: flex;
    align-items: center;
}
span.tooltip {
    display: inline-block;
    width: 15px;
    height: 15px;
    min-width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    cursor: pointer;
}
span.tooltip::after {
    width: 300px;
    white-space: normal !important;
    height: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
.mrkv_checkbox_action_button svg{
    display: none;
}
.checkbox-data-disabled input{
    opacity: .7;
}
.checkbox-data-disabled label > span:first-child{
    opacity: .7;
}
.checkbox-data-disabled label:before{
    opacity: .2 !important;
}